<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>王者荣耀--新增</title>

    <!-- Bootstrap -->
    <link href="./lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!--
      HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      .logout {
        font-weight: 900;
        font-size: 20px;
        color: #ff0000;
        text-decoration: none;
      }

      .logout:hover {
        text-decoration: none;
        color: yellowgreen;
      }
      .panel-heading {
        position: relative;
      }
      .alert{
      position: absolute;
      top: 0;
      right: 0;
      height: 52px;
      width: 80%;
    }
    .alert p {
      display: none;
      font-weight: bold;
      width: 100%;
      text-align: center;
    }
    .preview {
      width: 80px;
      height: 80px;
      border: 1px solid #ccc;
    }
    .preview img {
      display: none;
      width: 80px;
      height: 80px;
    }
    #bs-example-navbar-collapse-1 strong {
      color: deeppink;
    }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button
                  type="button"
                  class="navbar-toggle collapsed"
                  data-toggle="collapse"
                  data-target="#bs-example-navbar-collapse-1"
                  aria-expanded="false"
                >
                  <span class="sr-only">切换 导航</span>
                  <span class="icon-bar"></span> <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">欢迎进入后台管理</a>
              </div>

              <!--
                Collect the nav links, forms, and other content for toggling
              -->
              <div
                class="collapse navbar-collapse"
                id="bs-example-navbar-collapse-1"
              >
                <p class="navbar-text navbar-right " style="font-weight: 700">
                  欢迎 【<strong></strong>】登录
                  <a href="#" class="logout">退出</a>
                </p>
              </div>
              <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="alert">
                <p class="">6666</p>
              </div>
              <ol class="breadcrumb">
                <li><a href="./index.html">首页</a></li>
                <li class="active">英雄新增</li>
              </ol>
            </div>
            <div class="panel-body">
              <form action="#" method="post" class="form-horizontal" autocomplete="off">
                <div class="form-group">
                  <label for="heroName" class="col-sm-2 control-label"
                    >姓名</label
                  >
                  <div class="col-sm-10">
                    <input
                      required
                      type="text"
                      class="form-control"
                      id="heroName"
                      name="heroName"
                      placeholder="请输入姓名"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="skillName" class="col-sm-2 control-label">技能</label>
                  <div class="col-sm-10">
                    <input
                      required
                      type="text"
                      class="form-control"
                      id="skillName"
                      name="skillName"
                      placeholder="请输入技能"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="heroIcon" class="col-sm-2 control-label">头像</label>
                  <div class="col-sm-10">
                    <div class="preview">
                      <img src="" alt="" class="">
                    </div>
                    <input
                      type="file"
                      required
                      class="form-control"
                      id="heroIcon"
                      name="heroIcon"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default btn-add">新增</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="./lib/bootstrap/js/jquery-1.12.4.js"></script>
<!--
  Include all compiled plugins (below), or include individual files as needed
-->
<script src="./lib/bootstrap/js/bootstrap.min.js"></script>
<script>
  $(()=>{

    // 选择了图片 修改预览
      $('#heroIcon').change(function(){
        if($(this).val()){
          const url = window.URL.createObjectURL($(this).prop('files')[0]);
          $('.preview img').attr('src',url).show();
        } else {
          $('.preview img').hide();
        }
    })

    // 点击添加新英雄
    $('.btn-add').click(()=>{
      // const heroInfo = new FormData($('form')[0]); //这样不严谨
      const heroName = $('#heroName').val().trim();
      const skillName = $('#skillName').val().trim();
      const heroIcon = $('#heroIcon').prop('files')
      // 资料不全!!;
      if(!heroName || !skillName || !heroIcon[0]){
        return;
      }
      let formData = new FormData()
      formData.append('heroName',heroName);
      formData.append('skillName',skillName);
      formData.append('heroIcon',heroIcon[0]);
      $.post({
        url:"addHero",
        data:formData,
        processData: false,   // 是否序列化数据,发送文件不能序列化!! false时不要转化为字符串
        contentType: false,  // 告诉jquery不要设置 urlencode请求头
        success(res){
          if(res.msg=='未登录'){
            location = 'login.html?returnUrl=add.html';
          } else {
            if(res.status=='success'){
              $('.alert p').addClass('bg-success').text(res.msg).fadeIn(1000).fadeOut();
              $('.form-horizontal input').text('')
              setTimeout(() => {
                location = 'index.html';
              }, 1500);
            } else {
              $('.alert p').addClass('bg-danger').text(res.msg).fadeIn(1000).fadeOut(2000);
            }  
          }
        }
      })
      return false;
    })
  
  })
</script>
<script src="./common.js"></script>